html {
  color: #fff;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: $font-base-family;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: Lato, sans-serif;
  background-image: url("../img/space.jpg");
  background-color: #010103;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 492px;

  @media (min-width: 1400px) {
    background-size: 100%;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}
